*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f0f0f;
    color:white;
}
body {
    user-select: none;
}

input, textarea, [contenteditable="true"] {
    user-select: text;
}